<div class="container-fluid"> 
    <div class="form-group">
      <label for="user-query"></label>
      <input type="text" class="form-control" id="user-query" aria-describedby="query-for-google-book-api" placeholder="Enter what you want" [formControl]="userQuery">
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
</div>
<div>
  <div *ngFor="let book of books">
    <p>
      {{ book.title }}
    </p>
    <p>
      {{ book.author }}
    </p>
    <p>
      {{ book.description }}
    </p>
    <p>
      <img [src]="book.thumbnail">
      
    </p>
  </div>
</div>